.toast {
    position: fixed;
    top: 20px;
    right: 20px;

    padding: 12px 20px;

    background-color: #d32f2f;
    color: white;

    border-radius: 6px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    z-index: 1000;
	animation: toast-fade-in 0.3s ease;


}

.toast p {
    margin: 0;
}
.toast--closing {
    animation: toast-fade-out 0.3s ease forwards;
}

@keyframes toast-fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes toast-fade-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

